#Archivos que no agregaremos directamente al repositorio

#Paquetes Python y entorno virtual
/env
/.vscode
#Si desdea trabajar con los paquetes de este entorno virtual, instale paquetes desde 'requirements.txt' usando el comando -> pip install --upgrade -r requirements.txt
